<h3>Login</h3>
<form [formGroup]="form" class="auth-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="input-full-width" appearance="fill">
    <mat-label>Your name</mat-label>
    <input type="text" formControlName="name" matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" formControlName="email" matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" formControlName="password" matInput placeholder="Password">
  </mat-form-field>

  <mat-form-field class="input-full-width" appearance="fill">
    <mat-label>Password Confirmation</mat-label>
    <input type="password" formControlName="passwordConfirmation" matInput placeholder="Password confirmation">
  </mat-form-field>

  <button [disabled]="!form.valid" mat-button type="submit">Submit</button>
</form>
